*{
	padding: 0px;
	margin: 0px;
}
body{
	background-color: #eee;
}
.wrapper{
position: absolute;
border: 0px solid white;
height: 260px;
width: 320px;
margin-left: 820px;
margin-top: -220px;
margin-right: -40px;
background-color:white;
border-radius: 10px;
padding: 40px;
}
.input1{
	margin-top: -20px;
	margin-left: -17px;	
}
.uname{
position: relative;;
	width: 340px;
	height: 40px;
	padding: 5px;
	border: 1px solid #696969;
	border-radius: 8px;
}
.input2{
margin-top: 15px;
margin-left: -17px;
}
.password{
	position: relative;;
	width: 340px;
	height: 40px;
	padding: 5px;
	border: 1px solid #696969;
	border-radius: 8px;
}
.login{
margin-top: 15px;
margin-left: -18px;
}
.login button{
	width: 355px;
	height: 45px;
	padding: 5px;
	font-size: 20px;
	font-weight: bolder;
	border: 1px solid #696969;
	border-radius: 8px;
	background-color: #1877F2;
	color:white;
}
p{
	text-align: center;
}
.forget{
	margin-top: 15px;
	margin-left: 7px;
}
.forget a{
	text-decoration: none;
}
.forget a:link{
color:#426782;
}
hr{
	margin-top: 20px;
}
.submit{
margin-top: 20px;
margin-left: 7px;
}
.submit1{
	border: 0px solid black;
	width: 150px;
	height: 40px;
	background-color: #32CD32;
	border-radius: 8px;
}
.image img{
	margin-left: 250px;
	margin-top: 80px;
}
.helps{
margin-left: 285px;
margin-top: -110px;
font-size: 30px;

}
.create p{
	margin-top: 150px;
	margin-left: 500px;
}
.create a{
	text-decoration-line: none;
	color: black;
	font-weight: bolder; 
}